<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <nav class="navbar">
            <div class="navdiv">
                <img src="{{ url_for('static', filename='img/LESSA.png') }}" alt="Logo" width="100">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/inf">informacion</a></li>
                    <li><a href="/login">Login</a></li>

                </ul>
            </div>
        </nav>
        





        <footer>
            <div class="footer-content">
                <p>@LESSA WEB APP | Derechos reservados &copy;2025</p>
                <a href="/inf">
                    <img src="{{ url_for('static', filename='img/inf.png') }}" alt="informacion" width="50">
                        class="corner-img">
                </a>
            </div>
        </footer>
</body>

</html>